<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Node</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    Lim co e hehe 11
    <img class="demo-image" src="/images/Ảnh chụp màn hình 2024-08-03 221142.png" alt="">
</body>
</html>